html, body {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

a, a:active {
  text-decoration: none;
}

.wrap {
	display: flex;
	justify-content: center;
}

.wrap-child {
	width: 80%;
	max-width: 1000px;
}

@font-face {
  font-family: 'Pahuenga';
  src: url('~/assets/font/Pahuenga.otf');
}

@font-face {
  font-family: 'Weekdays';
  src: url('~/assets/font/Weekdays.ttf');
}

@font-face {
  font-family: 'Headliner';
  src: url('~/assets/font/Headliner.ttf')
}
